@model IEnumerable<DESAFIO.Models.estudante>

@{
    ViewData["Title"] = "Lista de alunos";
}

<h2>Lista de alunos</h2>
<p>
    <a asp-action="Create">Adicionar aluno</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do aluno(a)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.matricula">Nome</a> |
                <a asp-action="Details" asp-route-id="@item.matricula">Detalhes</a> |
            </td>
        </tr>
}
    </tbody>
</table>
